body
{
    background: url('../img/dsd.jpg') fixed;
    background-size: cover;
    padding: 0;
     font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    margin: 0 !important;
}

.wrap
{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.heightlogin{
    margin-top: 16%;
}

@media only screen and (min-width: 361px) and (max-width : 640px) {

.heightlogin{
    margin-top: 5%;
}


form
{
    width: 400px !important;
    border: 1px solid white;
    height: 100px !important;
    padding: 2%;
    background: rgba(0, 0, 0, .2); 
    margin: 0 auto;
}

}



form
{
    width: 450px;
    border: 1px solid white;
    min-height: 240px;
    padding: 2%;
    background: rgba(0, 0, 0, .6); 
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 2.5%;
    background: #fff;
    border: 0;
    border: 1px solid #c3c3c3;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login input[type="button"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="button"]:hover
{
    transition: background-color 0.5s ease;
}



form.login .remember-forgot
{
       width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 20%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #FFF;
    padding: 10px;
   left: 50%;
   width: 100%;
margin-left: -50%; /* Negative half of width. */
    
}


.posted-by{
    background: #4f0909;
    font-weight: bold;
    font-size: 10px;
}

.logo2{
   position:fixed; background:#000; text-align:center;
 height:60px; width: 100%; 
}

.logo2 img {
    margin-top: 0.5%;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 360px) and (max-width : 640px) {
.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 75% !important;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

}
