@charset "utf-8";
/* CSS Document */

@import url(bootstrap-theme.css);
@import url(bootstrap.css);
@import url(custom.css);
@import url(general.css);
@import url(login.css);
@import url(widht.css);
@import url(menu_desplegable.css);
@import url(menu.css);
@import url(layout.css);

.background_1{
    float:left;
    width:100%;
    height:541px;
    color: #2a4625;
    font-family: Helvética, Arial, Tahoma ;
    font-size: 11px;
    background:url(../img/fondo5.png) repeat-x #f9f9f9;
}



body{
    /*	background: #09a238;*/
    color: #2a4625;
    font-family: Helvética, Arial, Tahoma ;
    font-size: 11px;
    background:url(../img/fondo5.png) repeat-x #f9f9f9;
}
.contenedor{
    width: 100%;
    min-height:100%;
    position:absolute;
    /*        background: #fff;
            filter:alpha(opacity=50); 
            opacity:0.5;*/
    /*<!--	border: 10px solid ;
            border-width: 0px 10px 0px 10px;	-->*/
}
.ui-layout-unit-content{
    overflow: scroll !important;
}
.cabecera{
    background: rgba(255,255,255,0.9);
    /*    z-index: 33333;*/
    margin-bottom: 5%;
    width: 100%;
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px rgba(0,0,0,0.2);
    padding-bottom: 7px;
    font-family: 'proxima_nova_extra_con',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.linea_superior{
    margin-bottom: 5px;
    height:25px;
    width:100%;
    background: #f1fef4;
    border:1px solid #999999;
}

.texto_izquierda{
    text-shadow:0px !important;
    margin-left: 10%;
    float:left;
}

.texto_derecha{
    width:100%;
    padding-right: 5%;
    text-align: right;
    height:18px;
    background: #009fdb;
    font-size: 14px;
    font-weight: bold;
    color:white;
    text-shadow:0px !important;
    float:left;
}

.linea_negra1{
    float:left;
    width:100%;
    height:9px;
    background:#2a4625;
}


.menu_contenedor{
/*    margin-bottom: 10%;*/
    z-index: 99999;
    width:100%;
    float:left;
    height:40px;
}

.logo_1{
    margin-top: 0.2%;
    width:290px;
    height:40px;
    background:url(../img/logo_1s.png) no-repeat;
}

/*el tamaño del menu*/

.menu{
    margin-right: 5%;
    float:right;
    width:100%;
    margin-top:-29px;
    padding-top:5px;
    height:27px;
}
/* el estilo del menu */

.menu a{
    text-shadow:0px !important;
    font-family: Helvetica,Arial,sans-serif;
    padding:0px 2px 7px 2px;
    color: #2a4625;
    font-weight:normal;
    text-decoration: none;

}

.menu ul
{
    float:right;
    list-style-type: none;

}

.menu li{
    text-align:center;
    float:left;
    margin-left:10px;
    width:auto;	
}

/*aqui defino el color del hover (cuando pasas sobre el boton)*/

.menu a:hover { 
    width:auto;
    color: aquamarine;  
} 

.list-menu{
    text-transform: initial;
    border-radius:0px 15px 15px 0px;
    position:fixed;
    float:left;   
    padding:0;
    list-style:none;
    width:100%;
    font-size:16px;
    border: 1px solid rgba(0,0,0,0.8);
    margin-top: 4.8%;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}
.list-menu li a{
    display: block;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    background: url(../img/menu_2.png) no-repeat;
    text-decoration:none;
    color:#2a4625;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:40px;
}

.list-menu li ul li a{
    font-size:12px;
    color:rgb(71,104,157);
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);

}

.list-menu li a:hover{
    background:url(../img/menu_2.png) no-repeat;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    border: solid 1px rgba(0,0,0,0.3);
}

.list-menu li ul li a:hover{
    background:url(../img/menu_3.png) no-repeat;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    border: solid 1px rgba(0,0,0,0.3);
}

.list-menu ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.list-menu li ul{
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}

.list-menu li:hover ul{
    height: 170px;
    overflow-y:auto;
    overflow-x:hidden;
    background: gainsboro;
}

.list-menu ul li a{
    background:rgb(250,250,250);
}

.list-menu ul li a:hover {
    color: rgb(255,255,255);
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
}

.center_line{
    float:left;
    bottom:0px;
    padding-top: 35px;
    color: white;
    text-align: center;
    border:1px solid white;
    background: #565a56;
    height:15%;
    width:100%;

}


.content_info{
    padding-top: 300px;
    margin-left: 200px;
    width: 960px;
    /*    margin-left: -480px;*/
    min-height: 768px;
    float:left;

}

.content_info_1{
    margin-top: -2%;
    margin-left: 200px;
    width: 960px;
    /*    margin-left: -480px;*/
    min-height: 768px;
    float:left;   
}

.transp_content{
    margin-left: 200px;
    width: 960px;
    height:97px;
    float:left;
    background: white;

}
.content_info .a1{
    width:210px;
    height:auto;
    margin-top: 3%;
    margin-left: 5%;
    float:left;  
    text-align: center;
}

.content_info .a2{
    width:210px;
    height:auto;
    margin-top: 3%;
    margin-left: 11%;
    float:left;  
    text-align: center;
}

.content_info .a3{
    width:210px;
    height:auto;
    margin-top: 3%;
    margin-right: 5%;
    float:right;  
    text-align: center;
}

.img_a{
    margin-bottom: 6%;
    width:210px;
    height:209px;
    float:left;
    background: url(../img/img_a.png) no-repeat;
}

.img_b{
    margin-bottom: 6%;
    width:210px;
    height:209px;
    float:left;
    background: url(../img/img_b.png) no-repeat;
}

.img_c{
    margin-bottom: 6%;
    width:210px;
    height:209px;
    float:left;
    background: url(../img/img_c.png) no-repeat;
}
.content_work{
    background: white;
    /*    margin-top: 5%;*/
    margin-bottom: 5%;
    border-radius: 0px 0px 10px 10px;
    width:100%;
    min-height:700px;
    float:left;
    border:1px solid #f0f0f0;    
}

.content_body{
    background: white;
    /*    margin-top: 5%;*/
    margin-bottom: 5%;
    border-radius: 0px 10px 10px 10px;
    width:100%;
    min-height:400px;
    float:left;
    border:1px solid #f0f0f0;    
}

.content_body span{
    margin-top: 5%;
    margin-left: 4.7%;
    float:left;
    background:#f9f9f9;
    width: 27%;
    height:45%;
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px rgba(0,0,0,0.2);
}

.img_shadow{
    margin-left: 30px;
    margin-top: 1%;
    float:left;
    width:910px;
    height:24px;
    background: url(../img/shadow-down1.png) no-repeat;
}

.img_liner{
    margin-top: 2%;
    float:left;
    width:300px;
    height:15px;
    background: url(../img/barra_widgest_index.png) no-repeat;
}

.img_liner_1{
    float:left;
    width:300px;
    height:15px;
    background: url(../img/barra_widgest_index.png) no-repeat;
}

.logo_sia{
    margin-top: -2%;
    float:left;
    width: 443px;
    height:100px;
    background: url(../img/siapa-peque.png) no-repeat;
}

.data_table{
    float:left;
    margin-left: 2.5%;
    min-height: 720px;
    width:95%;
    border-radius:5px;
    border:1px solid #f0f0f0;

}

.box_login{
    padding-top: 3%;
    border:2px solid #f0f0f0;
    /*    margin-top: 23%;*/
    float:left;
    width:100%;
    min-height:230px;
    background:white;
}

.box_top{
    width:100%;
    height:50%;
    float:left;
    /*    background: #92caf9;
        filter:alpha(opacity=30); 
        opacity:0.3;*/
}
.login_r{

    margin:1% 28% 0% 0%;
}
.login_l{
    margin:1% 0% 0% 28%;
}
.buttom_r{

    margin:1% 35% 0% 0%;
}
.buttom_l{
    margin:1% 0% 0% 35%;
}
.content_login{
    border:1px solid #f0f0f0;
    background: #f9f9f9;
    width: 100%;
    height:100px;
    float:left;
}

.button-ingreso{
    min-height:1px;
    float:left;
}

.text_login{
    margin-bottom: 1.5%;
    margin-left: 44%;
    float:left;
    height:10px;
    color:gray;
    font-size: 22px;
    font-weight: bold;
}

.img_ing{
    width:368px;
    margin-top: 4%;
    margin-left: 11.7%;
    height:268px;
    float:left;
    background: url(../img/ing.png) no-repeat;
}

.img_ing2{
    width:368px;
    margin-top: 4%;
    margin-right: 8%;
    height:268px;
    float:right;
    background: url(../img/ing3.png) no-repeat;
}

.text_login1{
    margin-top: -0.5%;
    margin-left: 46%;
    float:left;
    height:10px;
    color:gray;
    font-size: 14px;
    font-weight: bold;
}

.text_login1 a{
    color:gray;
}

.text_login1 a:hover{
    text-decoration: none;
    color:#1f7a18;
}

.text_upper{
    float:left;
    color:white;
    background: #009bdb;
    position:fixed;
    width:300px;
    height:40px;
    left: 65%;
    z-index: 9;
    top: 0;
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px rgba(0,0,0,0.2);
    padding: 10px 20px 10px 10px ;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;   
}

.text_info_tesis{
        margin-top: 0.3%;
    font-family:helvetica;
    border-bottom: 1px solid #c3c3c3;
    margin-left: 29%;
    float:left;
    height:auto;
    color:#009bdb;
    font-size: 14px;
}

.box_tesis{
        margin-top: 8%;
    width:100%;
    background: #f0f0f0;
    height: 3%;
    float:left;
}
.error_login{
    font-size:11.5px; 
    position:absolute; 
    color: white; 
    left: 39%; 
    float: left;
    text-align: center; 
    top:57.5%; 
    width:20%; 
    font-weight: bold; 
    border: red thin solid; 
    padding: 5px 5px; 
    background-color: crimson; 
    border-radius: 5px 5px 0px 0px;
}


